<launch>

  <!-- Use different namespaces for the 2nd camera or greater -->
  <group ns="usb_cam">

    <!-- USB camera driver + controller manager -->
    <node name="hardware" pkg="nodelet" type="nodelet" 
          args="standalone usb_cam_hardware/USBCamHardware" output="screen">
      <remap from="camera_info_controller/camera_info" to="camera_info"/>
      <remap from="packet_controller/image" to="packet"/>
      <remap from="yuyv_controller/image" to="image"/>
      <param name="video_device" value="/dev/video1"/>
      <param name="image_width" value="640"/>
      <param name="image_height" value="480"/>
      <param name="pixel_format" value="yuyv"/>
      <param name="framerate" value="30"/>
    </node>

    <!-- Controller starter that asks the manager to start -->
    <node name="controller_starter" pkg="controller_manager" type="controller_manager" 
          args="spawn camera_info_controller packet_controller yuyv_controller" output="screen"/>
    <!-- Recommendation: use controllers you actually required -->
    <!--   camera_info_controller publishes camera infos synchronized with images -->
    <!--   packet_controller publishes packets from the camera -->
    <!--   yuyv_controller does server-side formatting (YUYV to BGR) and publishes images -->
    
    <!-- Parameters for controllers -->
    <param name="camera_info_controller/type" value="usb_cam_controllers/CameraInfoController"/>
    <param name="camera_info_controller/camera_frame_id" value="baffalo_uvc_camera"/>

    <param name="packet_controller/type" value="usb_cam_controllers/PacketController"/>
    <param name="packet_controller/format" value="yuv422"/>

    <param name="yuyv_controller/type" value="usb_cam_controllers/YUYVController"/>
    <param name="yuyv_controller/image_width" value="640"/>
    <param name="yuyv_controller/image_height" value="480"/>

  </group>

</launch>